html, body {
  margin: 0;
  height: 100%;
}

@font-face {
  font-family: Rubik;
  src: url(assets/fonts/Rubik/Rubik-Medium.ttf) format('opentype');
}

@font-face {
  font-family: Merriweather;
  src: url(assets/fonts/Merriweather/Merriweather-black.ttf) format('opentype');
}

app-root {
  height: 100%;
  background-color: black;
}
